@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #BFCDE0;
    /*background-color: #5D5D81;*/
}

.section-heading {
    font-family: 'Lobster', cursive;
    /*color: #FEFCFD;*/
    text-align: center;
}

.heading {
    font-family: 'Lobster', cursive;
}

/* Benefits Section */

.benefits {
    background-color: #FEFCFD;
    /*background-color: #BFCDE0;*/
}

.tourist-benefits {
    display: none;
    list-style-position: inside;
}

.tourguide-benefits {
    display: none;
    list-style-position: inside;
}

.signup {
    display: none;
}

.book-tour {
    display: none;
}