@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #BFCDE0;
}

/* Navbar */

.bg-custom {
    background-color: #FCFDFE;
}

.navbar-brand .logo {
    max-height: 80px;
}

/* Headings */

.section-heading {
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 15px;
}

.heading {
    font-family: 'Lobster', cursive;
}

/* Benefits Section */

.benefits {
    background-color: #FEFCFD;
}

.tourist-benefits {
    display: none;
    list-style-position: inside;
}

.tourguide-benefits {
    display: none;
    list-style-position: inside;
}

.signup {
    display: none;
}

.benefits-btn {
    background-color: #f6ae2d;
    text-align: center;
}

.benefits-btn:hover {
    background-color: #f2671f;
}

.book-tour {
    display: none;
}

/* Media Queries */

@media screen and (min-width: 768px) {
    .navbar-brand .logo {
    max-height: 120px;
    }
}


/* footer styling */
footer {
    background-color:  #FCFDFE;
    min-height: 120px;
    width: -webkit-fill-available;
    margin-top: 40px;
}

.list-inline.social-links {
    padding-right: 30px;
    list-style: none;
    background-color:#FCFDFE;
    font-size:30px;
    padding-top: 30px;
    text-align: center;
   
}

.social-links li a {
    color: #f6ae2d;
}
